<!--<p>Poštovani <b th:text="${name}"></b>,</p>-->

<!--<p>Vaš zahtev za registraciju je prihvaćen!</p>-->
<!--<p>Potvrdite registraciju odlaskom na link: <b th:text="${link}"></b></p>-->
<!--<p>Aktivacioni link ce trajati 12h, posle toga ce vaš zahtev biti odbijen!</p>-->


<!--<p>S poštovanjem,</p>-->
<!--<p>Rent a car</p>-->
<p>Dear <b th:text="${name}"></b>,</p>

<p>Your registration request has been approved!</p>
<p>Please confirm that by going to the link: <b th:text="${link}"></b></p>
<p>The activation link will least for 12 hours, after that your registration request will be denied!</p>

<p>Yours sincerely,</p>

<p>Rent a car</p>

